@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
body{
    font-family:'Fira Sans', sans-serif;
}
img{
width: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81, 80, 78);
}
a {
    position: relative;
    margin: 15px;
    color: #fff;
}
a:hover{
    color: #fff;
    border-bottom: 2px solid white;
}
#menu{
    
}