@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
/* background-color:#2A3166; */
background-color:#292930;
/* background-image: url(../images/Naveed.png) linear-gradient(grayscale(100%)); */
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
/* background-size: 40%; */
font-family:'Fira Sans', sans-serif;
}

.me-auto{
    color: rgb(63, 62, 61);
}
.nav-link{
    color: aliceblue;
}
.nav-link::after{
    color: azure;
}
.nav-link:hover{

 border-bottom: 2px solid white;
    color: white;
}
